.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 465px;
  background-color: #FFF;
  border-radius: 6px;

  .login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 12px 0 0;
  }
}
