#root {
  height: 100%;
  color: #666;
  font-family: '微软雅黑', 'Microsoft YaHei';
}

.margin-bottom12 {
  margin-bottom: 12px;
}

.margin-top12 {
  margin-top: 12px;
}

.pointer {
  cursor: pointer;
}
